feature extraction project in python pandas

In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv(r'./datasets/anime.csv')

In [4]:
df.tail()

    Rank                                              Title  Score
45    46  Vinland SagaTV (24 eps)Jul 2019 - Dec 20191,40...   8.74
46    47  Mushishi Zoku Shou 2nd SeasonTV (10 eps)Oct 20...   8.73
47    48  Shouwa Genroku Rakugo Shinjuu: Sukeroku Futata...   8.72
48    49  Mob Psycho 100 IIITV (12 eps)Oct 2022 - Dec 20...   8.71
49    50  Rurouni Kenshin: Meiji Kenkaku Romantan - Tsui...   8.71

In [5]:
df.loc[48]['Title']

'Mob Psycho 100 IIITV (12 eps)Oct 2022 - Dec 2022600,098 members'

In [6]:
def extt(t):
    check= False
    data= ""
    
    for i in t:
        if i ==")":
            check = False;
            break;
        if i =='(':
            check=True
            continue;
            
        if check ==True:
            data+=i;
    
    return data

In [7]:
df['episode'] =df['Title'].apply(extt)

In [8]:
df.head()

   Rank                                              Title  Score episode
0     1  Fullmetal Alchemist: BrotherhoodTV (64 eps)Apr...   9.10  64 eps
1     2  Steins;GateTV (24 eps)Apr 2011 - Sep 20112,473...   9.07  24 eps
2     3  Bleach: Sennen Kessen-henTV (13 eps)Oct 2022 -...   9.06  13 eps
3     4  Gintama°TV (51 eps)Apr 2015 - Mar 2016605,113 ...   9.06  51 eps
4     5  Shingeki no Kyojin Season 3 Part 2TV (10 eps)A...   9.05  10 eps

In [9]:
df['episode'] =df['episode'].str.replace('eps',"")

In [10]:
df['episode']= df['episode'].astype(int)

In [11]:
type(df.loc[0]['episode'])

numpy.int64

extract date from title

In [12]:
def extract_time(txt):
    check = False;
    data=""
    
    for i in range(len(txt)):
        if txt[i] ==")":
            for j in range(i+1,i+20):
                data +=txt[j]
                
            return data

In [13]:
df['Title'].apply(extract_time)

0     Apr 2009 - Jul 2010
1     Apr 2011 - Sep 2011
2     Oct 2022 - Dec 2022
3     Apr 2015 - Mar 2016
4     Apr 2019 - Jul 2019
5     Apr 2011 - Mar 2012
6     Jan 2021 - Jan 2021
7     Oct 2011 - Sep 2014
8     Apr 2022 - Jun 2022
9     Oct 2012 - Mar 2013
10    Mar 2023 - May 2023
11    Jan 1988 - Mar 1997
12    Jul 2023 - Aug 2023
13    Apr 2021 - Jun 2021
14    Jan 2017 - Mar 2017
15    Apr 2006 - Mar 2010
16    Sep 2016 - Sep 2016
17    Oct 2017 - Mar 2018
18    Oct 2008 - Mar 2009
19    Apr 2008 - Sep 2008
20    Jul 2013 - Jul 2013
21    Sep 2020 - Sep 2020
22    Aug 2017 - Aug 2017
23    Jul 2018 - Oct 2018
24    Apr 2004 - Sep 2005
25    Aug 2016 - Aug 2016
26    Dec 2022 - Dec 2022
27    Oct 2022 - Dec 2022
28    Dec 2022 - Dec 2022
29    Jan 2023 - Jun 2023
30    Jul 2023 - Aug 2023
31    Jan 2018 - Mar 2018
32    Apr 2020 - Oct 2021
33    Jan 2019 - Apr 2019
34    Dec 2020 - Mar 2021
35    Dec 2021 - Feb 2022
36    Jan 2017 - Jan 2017
37    Apr 2023 - Jun 2023
38    Oct 2016 - Dec 2016
39    Jul 2001 - Jul 2001
40    Jul 2013 - Dec 2013
41    Jan 2022 - Apr 2022
42    Oct 2000 - Mar 2002
43    Apr 1998 - Apr 1999
44    Apr 2022 - Oct 2022
45    Jul 2019 - Dec 2019
46    Oct 2014 - Dec 2014
47    Jan 2017 - Mar 2017
48    Oct 2022 - Dec 2022
49    Feb 1999 - Sep 1999
Name: Title, dtype: object

In [14]:
df['total time'] = df['Title'].apply(extract_time)

In [15]:
df.head()

,Rank,Title,Score,episode,total time
0,1,Fullmetal Alchemist: BrotherhoodTV (64 eps)Apr...,9.10,64,Apr 2009 - Jul 2010
1,2,"Steins;GateTV (24 eps)Apr 2011 - Sep 20112,473...",9.07,24,Apr 2011 - Sep 2011
2,3,Bleach: Sennen Kessen-henTV (13 eps)Oct 2022 -...,9.06,13,Oct 2022 - Dec 2022
3,4,"Gintama°TV (51 eps)Apr 2015 - Mar 2016605,113 ...",9.06,51,Apr 2015 - Mar 2016
4,5,Shingeki no Kyojin Season 3 Part 2TV (10 eps)A...,9.05,10,Apr 2019 - Jul 2019

In [16]:
df.loc[0]

Rank                                                          1
Title         Fullmetal Alchemist: BrotherhoodTV (64 eps)Apr...
Score                                                       9.1
episode                                                      64
total time                                  Apr 2009 - Jul 2010
Name: 0, dtype: object

In [17]:
df['Score'].max()

np.float64(9.1)

In [18]:
df[df['Score']==df['Score'].max()]

,Rank,Title,Score,episode,total time
0,1,Fullmetal Alchemist: BrotherhoodTV (64 eps)Apr...,9.1,64,Apr 2009 - Jul 2010

In [19]:
# top 5 score anime
top5 =df.nlargest(5,'Score')

In [20]:
top5

,Rank,Title,Score,episode,total time
0,1,Fullmetal Alchemist: BrotherhoodTV (64 eps)Apr...,9.10,64,Apr 2009 - Jul 2010
1,2,"Steins;GateTV (24 eps)Apr 2011 - Sep 20112,473...",9.07,24,Apr 2011 - Sep 2011
2,3,Bleach: Sennen Kessen-henTV (13 eps)Oct 2022 -...,9.06,13,Oct 2022 - Dec 2022
3,4,"Gintama°TV (51 eps)Apr 2015 - Mar 2016605,113 ...",9.06,51,Apr 2015 - Mar 2016
4,5,Shingeki no Kyojin Season 3 Part 2TV (10 eps)A...,9.05,10,Apr 2019 - Jul 2019

In [21]:
df[df['episode'] ==df['episode'].max()]

,Rank,Title,Score,episode,total time
15,16,"GintamaTV (201 eps)Apr 2006 - Mar 20101,034,41...",8.94,201,Apr 2006 - Mar 2010

In [22]:
top_epi_5 =df.nlargest(5,'episode')

In [23]:
top_epi_5

,Rank,Title,Score,episode,total time
15,16,"GintamaTV (201 eps)Apr 2006 - Mar 20101,034,41...",8.94,201,Apr 2006 - Mar 2010
7,8,Hunter x Hunter TV (148 eps)Oct 2011 - Sep 201...,9.04,148,Oct 2011 - Sep 2014
11,12,Ginga Eiyuu DensetsuOVA (110 eps)Jan 1988 - Ma...,9.02,110,Jan 1988 - Mar 1997
42,43,Hajime no IppoTV (75 eps)Oct 2000 - Mar 200255...,8.76,75,Oct 2000 - Mar 2002
24,25,"MonsterTV (74 eps)Apr 2004 - Sep 20051,041,081...",8.87,74,Apr 2004 - Sep 2005

In [24]:
#month 
# from model

In [25]:
df[['start_str', 'end_str']] = df['total time'].str.extract(r'([A-Za-z]{3} \d{4})\s*-\s*([A-Za-z]{3} \d{4})')

In [26]:
df['start_date'] = pd.to_datetime(df['start_str'], format='%b %Y')
df['end_date'] = pd.to_datetime(df['end_str'], format='%b %Y')

In [27]:
df['duration_months'] = (df['end_date'].dt.year - df['start_date'].dt.year) * 12 + (df['end_date'].dt.month - df['start_date'].dt.month) + 1

In [28]:
df.drop(['start_date','end_date','start_str','end_str'],axis=1,inplace=True)

In [29]:
df.head()

,Rank,Title,Score,episode,total time,duration_months
0,1,Fullmetal Alchemist: BrotherhoodTV (64 eps)Apr...,9.10,64,Apr 2009 - Jul 2010,16
1,2,"Steins;GateTV (24 eps)Apr 2011 - Sep 20112,473...",9.07,24,Apr 2011 - Sep 2011,6
2,3,Bleach: Sennen Kessen-henTV (13 eps)Oct 2022 -...,9.06,13,Oct 2022 - Dec 2022,3
3,4,"Gintama°TV (51 eps)Apr 2015 - Mar 2016605,113 ...",9.06,51,Apr 2015 - Mar 2016,12
4,5,Shingeki no Kyojin Season 3 Part 2TV (10 eps)A...,9.05,10,Apr 2019 - Jul 2019,4

In [30]:
df[df['duration_months']==df['duration_months'].max()]

,Rank,Title,Score,episode,total time,duration_months
11,12,Ginga Eiyuu DensetsuOVA (110 eps)Jan 1988 - Ma...,9.02,110,Jan 1988 - Mar 1997,111

In [31]:
df= pd.read_csv('athlete_events.csv')

FileNotFoundError: [Errno 2] No such file or directory: 'athlete_events.csv'

In [ ]:
df.isna().any()

ID        False
Name      False
Sex       False
Age        True
Height     True
Weight     True
Team      False
NOC       False
Games     False
Year      False
Season    False
City      False
Sport     False
Event     False
Medal      True
dtype: bool

In [ ]:
df.value_counts(ascending=False)

ID      Name                                 Sex  Age   Height  Weight  Team          NOC  Games        Year  Season  City       Sport       Event                                   Medal
16      Juhamatti Tapio Aaltonen             M    28.0  184.0   85.0    Finland       FIN  2014 Winter  2014  Winter  Sochi      Ice Hockey  Ice Hockey Men's Ice Hockey             Bronze    1
17      Paavo Johannes Aaltonen              M    28.0  175.0   64.0    Finland       FIN  1948 Summer  1948  Summer  London     Gymnastics  Gymnastics Men's Horse Vault            Gold      1
                                                                                                                                             Gymnastics Men's Individual All-Around  Bronze    1
                                                                                                                                             Gymnastics Men's Pommelled Horse        Gold      1
                                                                                                                                             Gymnastics Men's Team All-Around        Gold      1
                                                                                                                                                                                              ..
135553  Galina Ivanovna Zybina (-Fyodorova)  F    25.0  168.0   80.0    Soviet Union  URS  1956 Summer  1956  Summer  Melbourne  Athletics   Athletics Women's Shot Put              Silver    1
                                                  33.0  168.0   80.0    Soviet Union  URS  1964 Summer  1964  Summer  Tokyo      Athletics   Athletics Women's Shot Put              Bronze    1
135554  Bogusaw Zych                         M    28.0  182.0   82.0    Poland        POL  1980 Summer  1980  Summer  Moskva     Fencing     Fencing Men's Foil, Team                Bronze    1
135563  Olesya Nikolayevna Zykina            F    19.0  171.0   64.0    Russia        RUS  2000 Summer  2000  Summer  Sydney     Athletics   Athletics Women's 4 x 400 metres Relay  Bronze    1
                                                  23.0  171.0   64.0    Russia        RUS  2004 Summer  2004  Summer  Athina     Athletics   Athletics Women's 4 x 400 metres Relay  Silver    1
Name: count, Length: 30181, dtype: int64