group by and aggregation

In [1]:
import numpy as np
import pandas as pd

In [ ]:

from datetime import datetime, timedelta

# Define possible values
data = {
    'Category': [
        'A', 'A', 'B', 'B', 'A',
        'A', 'A', 'B', 'B', 'A'
    ],
    'store': [
        ' A', ' B', ' C', ' A', ' B',
        ' C', ' A', ' B', ' C', ' A'
    ],
    'Quantity': [
        45, 32, 76, 28, 54,
        61, 39, 22, 85, 47
    ],
    'sales': [
        450, 320, 152, 260, 504,
        610, 309, 202, 150, 407
    ],
    'Date': [
        '2025-08-01', '2025-08-02', '2025-08-03', '2025-08-04', '2025-08-05',
        '2025-08-06', '2025-08-07', '2025-08-08', '2025-08-09', '2025-08-10'
    ]
},

In [10]:
df = pd.DataFrame(data)

In [12]:
df.head()

  Category store  Quantity  sales        Date
0        A     A        45    450  2025-08-01
1        A     B        32    320  2025-08-02
2        B     C        76    152  2025-08-03
3        B     A        28    260  2025-08-04
4        A     B        54    504  2025-08-05

group by catogory and calculate the sum of sales

In [16]:
sum_sales = df.groupby('Category')['sales'].sum()
sum_sales

Category
A    2600
B     764
Name: sales, dtype: int64

In [18]:
#group by store and calculate the sum of sales
g_store = df.groupby('store')['sales'].sum()
g_store

store
A    1426
B    1026
C     912
Name: sales, dtype: int64

In [19]:
#Multiple lines group by

mul = df.groupby(['Category','store'])['sales'].sum()

In [20]:
mul

Category  store
A         A        1166
          B         824
          C         610
B         A         260
          B         202
          C         302
Name: sales, dtype: int64

aggregation

In [22]:
df['sales'].mean()

np.float64(336.4)

In [23]:
df['sales'].median()

np.float64(314.5)

In [24]:
df['sales'].mode()

0    150
1    152
2    202
3    260
4    309
5    320
6    407
7    450
8    504
9    610
Name: sales, dtype: int64

In [26]:
df['sales'].std()

np.float64(154.38206574023494)

In [27]:
df['sales'].var()

np.float64(23833.822222222225)

In [28]:
df['sales'].agg(['sum','min','max','median','mean','std','var'])

sum        3364.000000
min         150.000000
max         610.000000
median      314.500000
mean        336.400000
std         154.382066
var       23833.822222
Name: sales, dtype: float64