pandas is fast poweful flexible easy to use open source data analysi and manipualtion tool

series is like column in table it 1-D ARRAY holding data of any type

In [6]:
import numpy as np
import pandas as pd

series using list

In [10]:
#series form list
country = ['india ','pakistan','srilanka','butan','nepal']
pd.Series(country)

0      india
1    pakistan
2    srilanka
3       butan
4       nepal
dtype: object

In [65]:
age =[44,88,19,56,58,90]
age_series =pd.Series(age)

In [13]:
#custom index

mark =[60,88,44,55]
subject=['math','eng','sci','social']
print(pd.Series(mark,index=subject))

math      60
eng       88
sci       44
social    55
dtype: int64

In [15]:
marks_stud =pd.Series(mark,index= subject,name="Abc high schol")
print(marks_stud)

math      60
eng       88
sci       44
social    55
Name: Abc high schol, dtype: int64

In [16]:
print(marks_stud)

math      60
eng       88
sci       44
social    55
Name: Abc high schol, dtype: int64

series with dict

In [59]:
dict ={
"math": 60,
"eng":  88,
"sci" :44,
"social":55,
"hindi":59 ,

    
}

print(dict.values())

dict_values([60, 88, 44, 55, 59])

In [60]:
mark = pd.Series(dict,name="dict values")
mark

math      60
eng       88
sci       44
social    55
hindi     59
Name: dict values, dtype: int64

series attributes

In [55]:
mark.size

5

In [56]:
mark.dtype

dtype('int64')

In [57]:
print(mark.name)
print(marks_stud)

dict values
math      60
eng       88
sci       44
social    55
Name: Abc high schol, dtype: int64

In [61]:
mark.is_unique

True

In [44]:
marks_stud.is_unique

True

In [62]:
mark.index

Index(['math', 'eng', 'sci', 'social', 'hindi'], dtype='object')

In [71]:
age_series

0    44
1    88
2    19
3    56
4    58
5    90
dtype: int64

In [68]:
age_series.index

RangeIndex(start=0, stop=6, step=1)

In [69]:
age_series.is_unique

True

values attributes

In [74]:
mark.values

array([60, 88, 44, 55, 59])

In [75]:
age_series.values

array([44, 88, 19, 56, 58, 90])

In [93]:
df =pd.read_csv('kohli_ipl.csv')
df.head()
type(df)

pandas.core.frame.DataFrame

In [95]:
df.head()

                                  movie              lead
0              Uri: The Surgical Strike     Vicky Kaushal
1                         Battalion 609       Vicky Ahuja
2  The Accidental Prime Minister (film)       Anupam Kher
3                       Why Cheat India     Emraan Hashmi
4                       Evening Shadows  Mona Ambegaonkar

In [94]:
df= pd.read_csv("bollywood.csv")
df.head()

                                  movie              lead
0              Uri: The Surgical Strike     Vicky Kaushal
1                         Battalion 609       Vicky Ahuja
2  The Accidental Prime Minister (film)       Anupam Kher
3                       Why Cheat India     Emraan Hashmi
4                       Evening Shadows  Mona Ambegaonkar