In [20]:
import pandas as pd
import numpy as np

In [ ]:
# m= pd.read_csv(r'./datasets/movies.csv')

In [27]:
m= pd.read_csv(r'./datasets/imdb-top-1000.csv')

In [36]:
m.head(5)

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
0,The Shawshank Redemption,1994,142,Drama,9.3,Frank Darabont,Tim Robbins,2343110,28341469.0,80.0
1,The Godfather,1972,175,Crime,9.2,Francis Ford Coppola,Marlon Brando,1620367,134966411.0,100.0
2,The Dark Knight,2008,152,Action,9.0,Christopher Nolan,Christian Bale,2303232,534858444.0,84.0
3,The Godfather: Part II,1974,202,Crime,9.0,Francis Ford Coppola,Al Pacino,1129952,57300000.0,90.0
4,12 Angry Men,1957,96,Crime,9.0,Sidney Lumet,Henry Fonda,689845,4360000.0,96.0

In [31]:
gen = m.groupby('Genre')

In [35]:
gen.min().head(2)

,Series_Title,Released_Year,Runtime,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
Genre,,,,,,,,,
Action,300,1924,45,7.6,Abhishek Chaubey,Aamir Khan,25312,3296.0,33.0
Adventure,2001: A Space Odyssey,1925,88,7.6,Akira Kurosawa,Aamir Khan,29999,61001.0,41.0

find the top 3 generes by total earnings

In [47]:
m.groupby('Genre')['Gross'].sum().sort_values(ascending=False).head(4)

Genre
Drama        3.540997e+10
Action       3.263226e+10
Comedy       1.566387e+10
Animation    1.463147e+10
Name: Gross, dtype: float64

find the genre with highest avg imbd rating

In [54]:
m.groupby('Genre')['IMDB_Rating'].mean().sort_values(ascending=False).head(5)

Genre
Western      8.350000
Crime        8.016822
Fantasy      8.000000
Mystery      7.975000
Film-Noir    7.966667
Name: IMDB_Rating, dtype: float64

find the director with most popularity

In [59]:
m.groupby('Director')['No_of_Votes'].sum().sort_values(ascending=False)

Director
Christopher Nolan    11578345
Quentin Tarantino     8123208
Steven Spielberg      7817166
David Fincher         6607859
Martin Scorsese       6513530
                       ...
J. Lee Thompson         26457
Peter Mullan            25938
René Laloux             25229
Francis Lee             25198
Kaige Chen              25088
Name: No_of_Votes, Length: 548, dtype: int64

find highest rated movies of each genre

In [91]:
m.loc[m.groupby('Genre')['IMDB_Rating'].idxmax(),['Genre','IMDB_Rating','Series_Title']].head(5)

        Genre  IMDB_Rating                   Series_Title
2      Action          9.0                The Dark Knight
21  Adventure          8.6                   Interstellar
23  Animation          8.6  Sen to Chihiro no kamikakushi
7   Biography          8.9               Schindler's List
19     Comedy          8.6                   Gisaengchung

In [90]:
m.loc[m.groupby('Genre')['IMDB_Rating'].idxmax(),['Genre','IMDB_Rating','Director']].head(5)

        Genre  IMDB_Rating           Director
2      Action          9.0  Christopher Nolan
21  Adventure          8.6  Christopher Nolan
23  Animation          8.6     Hayao Miyazaki
7   Biography          8.9   Steven Spielberg
19     Comedy          8.6       Bong Joon Ho

find no of movies done by each actors

In [95]:
m['Star1'].value_counts(ascending=False)

Star1
Tom Hanks            12
Robert De Niro       11
Al Pacino            10
Clint Eastwood       10
Humphrey Bogart       9
                     ..
Phil Harris           1
David Hemmings        1
John Lennon           1
Tallulah Bankhead     1
Bruce Lee             1
Name: count, Length: 660, dtype: int64

In [102]:
m.groupby('Star1')['Series_Title'].count()

Star1
Aamir Khan              7
Aaron Taylor-Johnson    1
Abhay Deol              1
Abraham Attah           1
Adam Driver             1
                       ..
Zbigniew Zamachowski    1
Zooey Deschanel         1
Çetin Tekindor          1
Éric Toledano           1
Ömer Faruk Sorak        1
Name: Series_Title, Length: 660, dtype: int64